apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: <ECR_URI>/easycrud-backend:latest
        ports:
        - containerPort: 8080
        env:
        - name: DB_HOST
          value: mariadb
        - name: DB_NAME
          value: easycrud
        - name: DB_USER
          value: root
        - name: DB_PASSWORD
          value: root
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
  - port: 8080
